/* fonts I used */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.header h1 {
    font-size: 48px;
    font-weight: 400;
    border-bottom: 2px dashed gray;
}
.input-list {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.input-box p {
    font-size: 24px;
    margin-bottom: 0.5rem;
}
.input-box input {
    width: 250px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #575757;
    border-radius: 5px;
}
.input-list button {
    margin-top: 2rem;
    padding: 8px 80px;
    font-size: 18px;
    cursor: pointer;
    background: #eee;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.input-list button:hover {
    background-color: darkgray;
    color: #fff;
}

.value-list {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.value-box {
    width: 600px;
    background: #eee;
    border: 1px solid #AEB6BF;
    border-radius: 10px;
    padding:5px 15px;
}
.values {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border: 2px dashed gray;
    padding: 15px 0;
}

.value span {
   font-size: 18px;
   font-weight: 500;
   border: 1px solid #fff;
   padding: 5px 20px;
}
.value-box-heading {
    text-align: center;
    margin-top: 1rem;
}